.App_container{
    width: 100%;
}

.search_container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

input{
    padding: 10px;
    margin: 20px 0;
    width: 300px;
    border-radius: 10px;
    outline: none;
    border: 1px solid #b7f80364;
}

button{
    width: 100px;
    padding: 10px;
    text-align: center;
    border: 1px solid #b7f80364;
    border-radius:10px ;
    background-color: black;
    color: #f4f4f4;   
}

.display_image{

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 10px;
    place-content: center;
    gap: 5px;
    align-items: center;
}

@media (max-width: 1224px) {
    .display_image{
        grid-template-columns: repeat(2, 1fr);
    }

}
@media (max-width: 500px) {
    .display_image{
        grid-template-columns: auto;
    }

}